<button type="button" class="btn btn-success my-3" [routerLink]="['/league','add']">
  Add new league
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let league of leagues">
      <td>{{league.Id}}</td>
      <td>{{league.Name}}</td>
      <td>{{league.Country?.Name}}</td>
      <td>
        <a class="btn btn-warning me-1" [routerLink]="['/league','edit',league.Id]">Edit</a>
        <button type="button" class="btn btn-danger" [routerLink]="['/league','delete',league.Id]">Delete</button>
      </td>
    </tr>
  </tbody>
</table>