<div class="container py-5">
  <h1 class="mb-3">Add Country</h1>
  <form #form="ngForm" (ngSubmit)="addCountry()">
    <div class="mb-3">
      <label for="countryName" class="form-label">Country name</label>
      <input type="text" class="form-control" id="countryName" placeholder="Enter country name"
       name="Name" [(ngModel)]="addCountryRequest.Name">
    </div>
    <div class="mb-3">
      <label for="continentName" class="form-label">Continent</label>
      <input type="text" class="form-control" id="continentName" placeholder="Enter continent name"
       name="Continent" [(ngModel)]="addCountryRequest.Continent">
    </div>
    <button type="submit" class="btn btn-success float-end">Add new</button>
  </form>
  </div>
  
  