<div class="container py-5">
    <h1 class="mb-3">Are you sure you want to delete this league?</h1>
    <form #form="ngForm" (ngSubmit)="deleteLeague()">
      <div class="mb-3">
        <label for="leagueId" class="form-label">ID</label>
        <input type="text" class="form-control" id="leagueId" name="Id" [(ngModel)]="leagueDetail.Id" readonly>
      </div>
      <div class="mb-3">
        <label for="leagueName" class="form-label">League name</label>
        <input type="text" class="form-control" id="leagueName" placeholder="Enter country name"
          name="Name" [(ngModel)]="leagueDetail.Name" readonly>
      </div>
      <div class="mb-3">
        <label for="continentName" class="form-label">Country</label>
        <input type="text" class="form-control" id="continentName" placeholder="Enter continent name"
          name="Continent" [value]="leagueDetail.Country?.Name" readonly>
      </div>
      <button type="submit" data-bs-dismiss="modal" class="btn btn-danger float-end">Confirm </button>
    </form>
  </div>
  