<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-2 p-0">
      <ng-container *ngIf="role === 'Admin'">
        <app-admin-sidebar></app-admin-sidebar>
     </ng-container>
    </div>
    <div class="col-10 p-0">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center my-4">List of players</h1>
          <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <ng-container *ngFor="let user of users; let countId = index">
                <tr>
                  <td>{{countId + 1}}</td>
                  <td>{{user.UserName}}</td>
                  <td>{{user.Email}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>