<button type="button" class="btn btn-success my-3" [routerLink]="['/country','add']">
  Add new country
</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Continent</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{country.Id}}</td>
            <td>{{country.Name}}</td>
            <td>{{country.Continent}}</td>
            <td>
              <a class="btn btn-warning me-1" [routerLink]="['/country','edit',country.Id]">Edit</a>
              <button type="button" class="btn btn-danger" [routerLink]="['/country','delete',country.Id]">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>


