<div class="container py-5">
  <h1 class="mb-3">Edit League</h1>
  <form #form="ngForm" (ngSubmit)="editLeague()">
    <div class="mb-3">
      <label for="countryId" class="form-label">ID</label>
      <input type="text" class="form-control" id="countryId"
       name="Id" [(ngModel)]="leagueDetail.Id" readonly>
    </div>
    <div class="mb-3">
      <label for="leagueName" class="form-label">League name</label>
      <input type="text" class="form-control" id="leagueName" placeholder="Enter league name"
       name="Name" [(ngModel)]="leagueDetail.Name">
    </div>
    <div class="mb-3">
      <label for="continentName" class="form-label">Country</label>
      <select class="form-select" [(ngModel)]="countryId" name="countryId" required>
        <option value="" disabled>Select a country</option>
        <option *ngFor="let country of countries" [value]="country.Id">{{ country.Name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning float-end">Edit</button>
  </form>
  </div>
  
  